
*.sqlite3


# Исключение виртуальных окружений
.venv
.venv/
env/

.env

# Исключение pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключение файлов IDE
.idea/
.vscode/

# Исключение логов
*.log

# Исключение файлов настроек операционной системы
.DS_Store
Thumbs.db
